<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>mtDNA-Cancer Network</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

</head>


<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="index.html"><img src="static/logo.png" style="width: 70px;height: 40px"></a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="network">Network</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tables">Raw data</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">


        <div class="jumbotron">
          <h1 class="display-4">The mtDNA mutation-cancer network</h1>
          <hr class="my-4">
          <p>We constructed a bipartite network of mutations and cancer based on TCMA and mtDNA analysis by Cavalcante et al. (2019) datasets. The mutation-cancer network is a graph G(V, E), where V comprises two distinct sets of nodes: mitochondrial mutations (u) and cancers (v).</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="network" role="button">Explore!</a>
          </p>
        </div>


<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">Data!</h4>
  <p>For interactive and visualization analysis, our tool includes data from the following references:</p>
  <hr>
    <li><p class="mb-0">Cavalcante, Giovanna Chaves, et al. "Whole mitochondrial genome sequencing highlights mitochondrial impact in gastric cancer." Scientific reports 9.1 (2019): 1-13.</p></li>
<li><p class="mb-0">Yuan, Y.; Ju, Y.S.; Kim, Y.; Li, J.; Wang, Y.; Yoon, C.J.; Yang, Y.; Martincorena, I.; Creighton, C.J.; Weinstein, J.N.; et al. Comprehensive molecular characterization of mitochondrial genomes in human cancers. Nat. Genet. 2020, 52, 342–352, doi:10.1038/s41588-019-0557-x.</p></li>

</div>


    </main>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<footer class="p-3 bg-dark text-white-50">
    <div class="container d-flex justify-content-between text-light">
        <div class="d-flex flex-column"><a class="d-flex justify-content-center" href="http://lghm.ufpa.br/"><img
                    src="static/images/lghm.png" width="90px" height="40px"></a>
            <p class="text-justify">The mtDNA mutation-cancer network is developed by the Laboratory of Human and Medical Genetics (LGHM) at the
                Institute of
                Biological Sciences from the Federal University of Pará, Belém, Pará, Brazil.</p>
        </div>
        <div class="d-flex flex-column col-4">
            <div>

                <h5 class="d-flex justify-content-center mt-2">Contact</h5>
                <div class="flex-column">
                    <div class="ml-5 mt-1 d-flex bd-highlight"><i class="material-icons mr-2">
                        </i>Rua Augusto Corrêa, 01 - Cidade Universitária Prof. José Silveira Netto</div>
                </div>
                <div class="flex-column">
                    <div class="ml-5 mt-1 d-flex bd-highlight"><i class="material-icons mr-2">
                        </i>Guamá, CEP: 66.075-110 - Belém - PA, Brasil</div>
                </div>
                <div class="flex-column">
                    <div class="ml-5 mt-1 d-flex bd-highlight"><i class="material-icons mr-2">
                        </i>Phone: +55 91 32017843</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center col-4">
            <div>
                <h5 class="d-flex justify-content-center mt-2 mb-2">Funding</h5>
                <div class="d-flex justify-content-around">
                    <div class="ml-3 mr-3"><a href="http://www.cnpq.br"><img src="static/images/cnpq.png" width="60"
                                height="60"></a>
                        <p class="d-flex justify-content-center">CNPq</p>
                    </div>
                    <div class="ml-3 mr-3"><a href="https://www.capes.gov.br"><img src="static/images/capes.png"
                                width="60" height="60"></a>
                        <p class="d-flex justify-content-center">CAPES</p>
                    </div>
                    <div class="ml-3 mr-3"><a href="https://portal.ufpa.br"><img src="static/images/ufpa.png"
                                width="60" height="60"></a>
                        <p class="d-flex justify-content-center">UFPA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>